*{margin: 0; padding: 0;list-style: none;}
body{background: #f0f0f0
}
.wrap{width: 1000px;height: 1080px;margin: 0 auto;background: white;}
.wrap_header{height: 84px;width: 1000px; margin: 0 auto;border-bottom: 1px solid #e2e2e2;}
.logo{float: left;height: 10px;width: 350px;padding: 20px;}
.menu_1{float: left;width: 400px;height: 84px;}
a{text-decoration: none;color:#444444;}
.box{float: right;width: 66px;height:32px;text-align: center;font-size: 12px;line-height: 34px;border: 1px solid #EFEFEF;
    margin-top: 33px;
}
.search{float: right;width: 190.5px;height: 35px;margin-top: 33px;}
.img_button{background: url("img/search.PNG") no-repeat;
    border: none;width: 34px;height: 34px;cursor: pointer;}
input{color: #444444;width: 150px;height: 32px;float: left;border: #EFEFEF 1px solid;text-indent: 10px;}
.header_2{width: 1000px;height: 40px;border-bottom: 1px solid #e2e2e2;}
nav{width: 800px;height: 40px;margin: 0 auto;}
nav > ul{float: left;}
nav > ul > li > a{font-weight: bold;}
nav > ul > li > a:hover{color: #7bc9dd;}
nav > ul > li > a:hover > ul{color: #7bc9dd;border: 1px solid #7bc9dd;overflow: visible;}
nav > ul > li > a:hover > ul > li{height: 100px;}
nav > ul > li{width: 100px;height: 41px;float: left;line-height: 41px;text-align: center;}
nav > ul > li > ul{width: 120px;font-size: 13px;text-align: left;height: 0px;overflow: hidden;}
nav > ul > li > ul > li{width: 100px;margin-left: 20px;}
nav > ul > li > ul > li > a{color: #444444;}