*{margin: 0; padding: 0;list-style: none;}
body{background: #f0f0f0
}
.wrap{width: 1000px;height: 1080px;background: white;margin: 0 auto;}
#wrap_header{width: 1000px;height: 126px;margin: 0 auto;}
.wrap_header_1{height: 84px;width: 1000px;border-bottom: 1px solid #e2e2e2;}
.logo{float: left;height: 10px;width: 350px;padding: 20px;}
.menu_1{float: left;width: 400px;height: 84px;}
a{text-decoration: none;color:#444444;}
.box{float: right;width: 66px;height:32px;text-align: center;font-size: 12px;line-height: 34px;border: 1px solid #EFEFEF;
         margin-top: 33px;
     }
.search{float: right;width: 190.5px;height: 35px;margin-top: 33px;}
.img_button{background: url("img/search.PNG") no-repeat;
         border: none;width: 34px;height: 34px;cursor: pointer;}
input{color: #444444;width: 150px;height: 32px;float: left;border: #EFEFEF 1px solid;text-indent: 10px;}
.header_2{width: 1000px;height: 40px;border-bottom: 1px solid #e2e2e2;}

nav{width: 800px;height: 40px;margin: 0 auto;position: relative;z-index: 1;}
nav > ul{float: left;}
nav > ul > li > a{font-weight: bold;}
nav > ul > li > ul > li > a:hover{color: #7bc9dd;font-weight: bold;}
nav > ul > li:hover > ul > li{height: 41px;}
nav > ul > li:hover > ul {border: #7bc9dd 1px solid;}
nav > ul > li{width: 100px;height: 41px;float: left;line-height: 41px;text-align: center;}
nav > ul > li > ul{width: 120px;font-size: 13px;text-align: left;background: white;}
nav > ul > li > ul > li{width: 100px;margin-left: 20px;height: 0px;overflow: hidden;}
nav > ul > li > ul > li > a{color: #444444;}

.table_all{width: 700px;height: 200px;border:1px solid #e2e2e2;margin-top: 10px;float: left;margin-left: 5px;}
.content_wrap{width: 1000px;height: 800px;}
.slide_box{width: 1000px;height: 300px;overflow: hidden;position: relative;margin-top: 10px;}
.slide_box > li{height: 300px;width: 1000px;position: absolute;left: -1000px;}
.slide_box > li > img{width: 1000px;height: 300px;position: absolute;}
.slide_box > li:first-child{left: 0;}
.table_box{width: 700px;height: 200px;}
.table_1{width: 700px;height: 200px;}
.table_1 > thead > tr > .plus_view{width: 60px;height:25px;left: 400px;position: relative;line-height: 25px;border-bottom: 1px solid #e2e2e2;}
.table_1 > thead > tr > .plus_view > a{font-size: 12px;color: #444444;}
.table_1 > thead > tr > th {width: 100px;float: left;}
.table_1 > thead > tr > th > a{font-size: 18px;color: black;}
.table_1 > tbody > tr > td > a{font-size: 14px;}

#h_t{width: 700px;height: 200px;display: none;position: absolute}

#pop_box{width: 285px;height: 450px;float: right;margin-top: 10px;overflow: hidden;position: relative;border: 1px solid #e2e2e2;}
#pop_box > li {width: 285px;height: 450px; left: -285px;position: absolute;}
#pop_box > li:first-child {left: 0;}
#pop_box > li > img{width: 285px;height: 450px;}
#pop_box > li > a > img {width: 285px;height: 450px;}
.del_box {width: 100%;height: 100%;position: absolute;z-index: 3;text-align: center;display: none;}
.del_box img {width: 380px;height: 500px;}
.del{width: 20px;height: 20px;background-color: #e2e2e2;position: relative;border:#b3b3b3; float: right;top: 20px;}
.del>a{color: #ffffff}
.del2{width: 380px;height: 500px;margin-top: 200px;margin: 0 auto;margin-top: 250px;}
#th_color1{color: #4d87ef;}
.right{font-size: 14px;text-align: center;}
.calender{float: left;width: 200px;height: 200px; background: beige;margin-top: 10px;}